$top-header-height: 80px;
$top-header-color: #ffa500;
$sidebar-width: 170px;

.site {
  display: flex;
  flex-direction: column;
  position: relative;

  .top-header {
    position: fixed;
    width: 100vw;
    height: $top-header-height;
    display: flex;
    align-items: center;
    z-index: 2;
    background: $top-header-color;
    .sidebar-top {
      width: $sidebar-width;
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      padding-inline-start: 1.5rem;
      font-weight: bold;
      background: $top-header-color;
    }
    .main-top {
      height: 100%;
      width: calc(100vw - #{$sidebar-width});
      flex-grow: 1;
      box-shadow: 0 1px 3px hsl(0deg 0% 59% / 100%);
      z-index: 1;
      overflow-y: hidden;
    }
  }

  .main {
    min-height: 100vh;
    padding-top: $top-header-height;
    display: flex;
    flex-direction: row;
    z-index: 1;

    .sidebar {
      background: #383838; // #636363;  // #b0b0b0;  // #272822;
      width: $sidebar-width;
      padding: 3rem 0 0 1rem;
      position: relative;
      box-shadow: 2px 0 3px hsl(0deg 0% 59% / 100%);
      .fixed-menu {
        position: fixed;
        .menu-item {
          margin-bottom: 1rem;
          a {
            text-decoration: none;
            color: #2fa9ff; // #28c6d6;  // #0082a0;
          }
        }
      }
    }

    .page {
      max-width: calc(100% - #{$sidebar-width});
      background: white;  // #eeeeee;
      flex-grow: 1;
      padding: 2rem 2rem 0.5rem 3rem;
    }
  }
}
